.carousel-container {
  overflow: hidden;
  height: 440px;
  background-size: 100vh;
  background-color: #333337;
}
.upcomingMovies {
  background-color: #333337;
}
.upcomingMovies h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  padding: 10px 0 0 10px;
  padding: 0;
}

@media (max-width: 768px) {
  .upcomingMovies h3 {
    font-size: 30px;
  }
}