.movieBox{
  top: 200px;
  display: flex;
  justify-content: center;
}
.noResult {
  color: white;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 90px;
}
